/* CSS declarations go here */
li{
	list-style: none;
}
li.comment-list {
    border: 1px solid gray;
    text-align: left;
    padding: 5px;
}

.commentField-btn,
.submit-new-comment,
.submit-btn{
    background-color: darkcyan;
    color:#ffffff;
    opacity: 0.8;
    -webkit-appearance: caret;
    -moz-appearance: caret;
    -ms-appearance: caret;
    -o-appearance: caret;
}
.commentField-btn:hover,
.submit-new-comment:hover,
.submit-btn:hover{
	background-color: darkcyan;
    color:#ffffff;
    opacity: 1;
}
.edit-btn{
    background-color: darkgreen;
    color:#ffffff;
    opacity: 0.8;
    -webkit-appearance: caret;
    -moz-appearance: caret;
    -ms-appearance: caret;
    -o-appearance: caret;
}
.edit-btn:hover{
	background-color: darkgreen;
    color:#ffffff;
    opacity: 1;
}
.close-comment,
.edit-btn-close{
    background-color: maroon;
    color:#ffffff;
    opacity: 0.8;
    -webkit-appearance: caret;
    -moz-appearance: caret;
    -ms-appearance: caret;
    -o-appearance: caret;
}
.close-comment:hover,
.edit-btn-close:hover{
	background-color: maroon;
    color:#ffffff;
    opacity: 1;
}

.close-btn,
.delete-btn{
    background-color: lightcoral;
    color:#ffffff;
    opacity: 0.8;
    -webkit-appearance: caret;
    -moz-appearance: caret;
    -ms-appearance: caret;
    -o-appearance: caret;
}
.close-btn,
.delete-btn:hover{
	background-color: lightcoral;
    color:#ffffff;
    opacity: 1;
}
#footer{
    position: relative;
}
.footer-wrapper{
    position: relative;
}
.chat-container{
    position: relative;
}
.chat-block-head{
    width: 100%;
    background-color: #fafafa;
}
.chat-section{
    position: fixed;
    bottom: 0;
    right:0;
}
.online-user-block{

}
.online-user-block-listings{
    overflow-y: auto;
    max-height: 500px;
}
.online-user-block-listings a{
    color:lightcoral;
    cursor: pointer;
}
.online-user-block-listings a:hover{
    text-decoration: none;
    color:darkgreen;
}

/*Utilities Classes*/
.full-w{
	width: 100%;	
}
.pad-t-10{
	padding-top: 10px;
}
.pad-l-40{
	padding-left: 40px;
}
.mar-b-0{
	margin-bottom: 0px;
}